@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
:root{
  --dark:#1d282a;
  --bright:#fff;
  --theme-col1:#2A2F4F;
  --theme-col2:#40b7ac;
}
body{
  background-color: var(--theme-col1);
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .App{
    width:100%;
    height: 900px;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .main{
    width:100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header{
    width:100%;
    height: 160px;
    /* background-color: var(--); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .name{
    width:auto;
    height: 60px;
   color: #eaf428;
   font-size: 2.5em;
   text-shadow: 2px 2px 5px #000;
   font-family: 'Marck Script', cursive;
  }
  .search{
  width: 80%;
  height: 30px;
  background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3px;
  }
  #search-box{
    width:90%;
    height:50px;
    background-color:transparent;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .search-btn{
    width: 40%;
    height:100%;
    border: none;
    border-radius: 20px;
    background-color: #576CBC;
    font-size: 0.8em;
    border: 1px solid white;
    font-weight: 600;
    color:white;
    cursor: pointer;
  }
  .desc-section{
    width: 90%;
    height: 750px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
  }
  .desc-sec-1{
    width:100%;
    height: 50%;
    /* background-color:black; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info{
    width:100%;
    height: 50%;
    /* background-image: url('./Components/images/1.png'); */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    text-transform: capitalize;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }
  .info h1{
    font-size: 6.5em;
  }
  .info-desc{
    width:100%;
    height: 20%;
    padding-left:10px;
    font-size:0.6em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: var(--bright);
  }
  #city{
    font-size: 3.7em;
  }
  .desc-sec-2{
    width:100%;
    height: 27%;
    /* background-color:black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .desc-sec-2 div{
    width:32%;
    height: 100px;
    background-color: #2f3b5d;
    box-shadow: 2px 2px 10px black;
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
  }
  }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .App{
    width:100%;
    height: 700px;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .main{
    width:100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header{
    width:60%;
    height: 80px;
    /* background-color: var(--); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .name{
    width:30%;
    height: 60px;
   color: #eaf428;
   font-size: 3.7em;
   text-shadow: 2px 2px 5px #000;
   font-family: 'Marck Script', cursive;
  }
  .search{
  width: 40%;
  height: 45px;
  background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
  }
  #search-box{
    width:90%;
    height:50px;
    background-color:transparent;
    border: none;
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .search-btn{
    width: 40%;
    height:100%;
    border: none;
    border-radius: 20px;
    background-color: #576CBC;
    font-size: 1.2em;
    border: 1px solid white;
    font-weight: 600;
    color:white;
    cursor: pointer;
  }
  .desc-section{
    width: 90%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .desc-sec-1{
    width:100%;
    height: 70%;
    /* background-color:black; */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .info{
    width:40%;
    height: 80%;
    /* background-image: url('./Components/images/1.png'); */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    text-transform: capitalize;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }
  .info h1{
    font-size: 6.5em;
  }
  .info-desc{
    width:50%;
    height: 80%;
    padding-left:100px;
    font-size:1.7em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: var(--bright);
  }
  #city{
    font-size: 3.7em;
  }
  .desc-sec-2{
    width:100%;
    height: 27%;
    /* background-color:black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .desc-sec-2 div{
    width:250px;
    height: 200px;
    background-color: #2f3b5d;
    box-shadow: 2px 2px 10px black;
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }

}

/*# sourceMappingURL=main.692471cc.css.map*/
